body {
    background-color: rgb(16, 7, 39);
    padding: 10px;
    font-family: sans-serif;
}

    #respuestaVentana {
        margin-top: 20px;
        border-radius: 20px;
        color: rgb(255, 255, 255);
        font-size: xx-large;
        font-weight: bold;
        text-shadow: 3px 3px rgb(177, 0, 0);
        background-color: black;
        opacity: 0.5;
    }

    #respuestaVentana:hover {
        opacity: 1;
    }

.displayNone {
    display: none;
}

.containerFondo {
    border: 3px dotted rgb(109, 0, 0);
    margin: auto;
    width: 700px;
    height: 450px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 7px rgba(0, 0, 0, 0.5);
    padding-top: 10px;
}

.containerFondo h1 {
    color: rgb(0, 187, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px;
    opacity: 0.8;
}

button {
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 3px 3px rgb(177, 0, 0);
    background-color: rgb(16, 7, 39);
    opacity: 0.5;
}

button:hover {
    opacity: 1;
}

.dark {
    background-color: rgb(0, 0, 0);
}

.danger {
    background-color: rgb(206, 0, 0);
    /* transition: background-color 1.5s; */
}
.alert {
    background-color: rgb(236, 147, 0);
    /* transition: background-color 1.5s; */
}
.victory {
    background-color: rgb(0, 139, 0);
    /* transition: background-color 1.5s; */
}


.titleDiv {
    width: 90%;
    margin: auto;
}

span {
    font-style: italic;
    color: rgb(252, 252, 150);
}

.red {
    color: red;
}

.containerFondoPointer {
    background-image: url('../src/images/tutorial/pointer.png');
    background-size: contain;
}

.containerFondoKeyboard {
    background-image: url('../src/images/tutorial/keyboard-arrows.jpg');
    background-size: contain;
}

.containerFondoCatacombs {
    background-image: url('../src/images/scenarios/Catacombs-of-Rome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.containerHall {
    background-image: url('../src/images/scenarios/hall.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.containerDebris {
    background-image: url('../src/images/scenarios/debris.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.containerPuertaCode {
    background-image: url('../src/images/scenarios/puertaCode.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

        .containerPuertaCode img {
            width: 180px;
            margin-top: 160px;
            margin-left: 80px; 
            position: absolute;
            bottom: 280px;
        }

        #salida {
            width: 180px;
            height: 180px;
            border: 1px dotted white;
            margin-left: 120px;
            position: absolute;
            top: 200px;
            left: 60px;
        }

.containerPasillo {
    background-image: url('../src/images/scenarios/pasillo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

        #ventana {
            height: 80px;
            width: 45px;
            margin-top: 25%;
            margin-left: 1%;
        }

.containerHab1{
    background-image: url('../src/images/scenarios/hab01.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.containerHab1Trueno {
    background-image: url('../src/images/scenarios/hab01trueno.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

        #gato {
            width: 40px;
            position: absolute;
            top: 300px;
            left: 400px;
        }

        #help {
            width: 110px;
            position: absolute;
            top: 70px;
            left: 200px;
        }

.containerHab2 {
    background-image: url('../src/images/scenarios/hab02.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.containerToilet {
    background-image: url('../src/images/scenarios/toilet.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.containerToiletLight {
    background-image: url('../src/images/scenarios/toiletLight.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


        .containerInputs {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: 20px;
        }

        .containerInputs input {
            width: 30px;
            background-color: rgb(16, 7, 39);
            color: white;
            font-weight: bold;
            height: 30px;
            border-radius: 20px;
        }

.containerCatacombs {
    background-image: url('../src/images/scenarios/Catacombs-of-Rome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#sectionCell containerFondo input {
    height: 100px;
    width: 100px;
    border: 2px solid white;
}

        #botonOscuro {
            background-color: rgb(0, 0, 0);
            width: 150px;
            height: 150px;
            margin-right: 450px;
        }

        footer img {
            margin: 15px;
            width: 140px;
        }


#containerBody{
    display: flex;
    justify-content: start;
}

#externalHtml {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

    #inputs, #inputsSalida, #inputTimer {
        margin: 20px 20px;
        width: 280px;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #respuesta, #contador {
        font-size: 2rem;
        background-color:  rgb(16, 7, 39);
        color: white;
    }



    